/* start of table */
.table{
    width:90%;
    margin:1rem auto;
    /* border: 0.1rem solid green; */
}
.table .head,.table .fields{
    background-color: rgb(59, 59, 59);
    color:white ;
    border:none;
    margin:0.2rem 0;
}
.table .head{
    border-radius:0.4rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:1rem;
    padding:1rem 0;
}
.table .head p{
    width:24%;
    text-transform: uppercase;
    font-size: 0.85rem;
    color:#808191;
    text-align: center;
    /* border:0.1rem solid red; */
    margin:auto 0;
}

.table .fields{
    display:flex;
    justify-content: space-between;
    text-align:left;
}
.table .fields div{
   /* border:0.1rem solid red; */
}
.table .fields p{
    padding:0;
    /* border:0.1rem solid red; */
    color:rgb(195, 195, 195);
    font-size:1rem;
    font-weight: bold;
 }
.table .field{
    width:22.5%;
    padding-top:1rem;
    /* border:0.1rem solid red; */
}
.table .fields .asset{
    display:flex;
    
}
.table .fields .asset div{
    padding:0;
}
.table .fields .asset .img1{
    height:3rem;
    width:3rem;
}
.table .fields .asset span{
    border-radius: 0.4rem;
    background-color: rgb(34, 34, 34);
    margin-left:0.5rem;
    padding:0.2rem 0.3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.table .fields .img2{
    height:1rem;
    width:1rem;
    margin-right:0.4rem;
}

.table .amount{
    text-align: center;
    text-transform: capitalize;
}
.table .user {
    padding:0;
    display:flex;
    align-items: center;
    justify-content: center;
}
.table .user div{
    padding:0;
}
.table .ref {
    text-align: center;
    cursor:pointer;
    
}
.table .amount p,.table .ref p{
    font-size: 0.9rem;
    text-align: center;
}
.table .ref p .icon{
    margin-left:0.5rem;
}
